.auth-container {
  background: linear-gradient(
      119deg,
      rgba(180, 170, 163, 0.4962359943977591) 0%,
      rgba(223, 203, 182, 0.45702030812324934) 92%
    ),
    url("./assets/doggoonmountain.jpeg");

  background-size: cover;
  position: fixed;
  padding: 0px;
  margin: 0px;
  width: 100%;
  max-width: 100%;
  height: 100%;
  top: 0;
  left: 0px;
  color: whitesmoke;
}

.auth-container p {
    align-items: center;
    padding: 30px;
    font-size: 15px;
}

.auth-container h2 {
    text-align: center;
    font-size: 40px;
    color: #365874;
}

/* Login */
.login-display {
  background: rgb(29, 36, 37);
  background: linear-gradient(
    119deg,
    rgba(29, 36, 37, 0.9248074229691877) 33%,
    rgba(29, 36, 37, 0.908000700280112) 82%
  );
  padding: 30px;
  margin: 30px;
  width: 400px;
  border-radius: 5px;
}

.login-button {
    color: white !important; 
    border: solid white 1px !important;
}

/* Signup */
.signup-display {
  background: rgb(29, 36, 37);
  background: linear-gradient(
    119deg,
    rgba(29, 36, 37, 0.9248074229691877) 33%,
    rgba(29, 36, 37, 0.908000700280112) 82%
  );
  padding: 30px;
  margin: 30px;
  width: 400px;
  border-radius: 5px;
  color: whitesmoke;
}

.adoption-true {
    border: 1px solid grey !important;
    margin: 2px;
}

.signup-button {
    color: white !important; 
    border: solid white 1px !important;
}

.signup-button-group {
    border: 1px solid white !important;
}