

.auth-container{
  margin: 0 !important;
  padding: 0 !important;
  max-width: 100% !important;
  overflow: hidden;
}
.bg-image {
  background: linear-gradient(
      119deg,
      rgba(180, 170, 163, 0.4962359943977591) 0%,
      rgba(223, 203, 182, 0.45702030812324934) 92%
    ),
    url("./assets/doggoonmountain.jpeg") right;

  background-size: cover;
  margin: 0;
  width: 100%;
  height: 100vh;
  color: whitesmoke;
}

/* Login */
.login-container{
  color: white;
  background-color: #365874;
  padding: 0 30px 0 30px;
  text-align: center;
}

.login-form {
  text-align: center;
}

.jumbo-login {
  font-size: 90px;
  margin-top: 30px !important;
}

.about-login {
  margin-bottom: 15em;
  padding: 0 25px 0 25px;
}

.login-switch {
  text-align: center;
}

.login-button {
    color: white !important; 
    border: solid white 1px !important;
}

/* Signup */

.adoption-specialist-label {
  margin-right: 55px;
  font-weight: bold;
}
.signup-button {
    color: white !important; 
    border: solid white 1px !important;
}

.about-signup {
  margin-bottom: 10em;
  padding: 0 25px 0 25px;
}

.signup-button-group {
    border: 1px solid white !important;
}

.signup-yes-btn {
  color: white !important; 
  border: solid white 1px !important;
  margin-right: 10px !important;
}

.signup-no-btn {
  color: white !important; 
  border: solid white 1px !important;
}

/* desktop */
@media (max-width: 1920px){
    .mobile-description-login {
      visibility: hidden;
    }
    .mobile-description-signup {
      visibility: hidden;
    }

    .desktop-btn {
      visibility: visible;
    }
    .mobile-btn {
      visibility: hidden;
    }
}

/* iPhone X */
@media (max-width: 375px){
  .bg-image {
    display: none;
  }
  .jumbo-login {
    font-size: 60px;
  }
  .mobile-description-login {
    visibility: visible;
    margin-bottom: 17em;
  }

  .mobile-description-signup {
    visibility: visible;
    margin-bottom: 7em;
  }
  .mobile-adoption-input {
    margin-bottom: 3em;
  }


  .about-login {
    display: none;
  }

  .about-signup {
    display: none;
  }

  .login-container {
    height: 100vh ;
  }

  .mobile-width {
    width: 250px !important;
  }
  
  .desktop-btn {
    visibility: hidden;
  }
  .mobile-btn {
    visibility: visible;
  }
  .adoption-specialist-label {
    margin: 0;
    margin-left: 64px;
  }

}

/* galaxy S5 */
@media (max-width: 360px){
  .bg-image {
    display: none;
  }
  .mobile-description {
    visibility: visible;
  }

}

/* iPhone 6/7/8 plus */
@media (max-width: 414px){
  .bg-image {
    display: none;
  }
  .mobile-description {
    visibility: visible;
  }

}

