.feed-profile {
    border-radius: 50%;
    width: 2em;
    height: 2em;
    margin-right: 10px;
    background-size: initial;
    object-fit: cover;
}

.feed-card {
    margin-bottom: 20px;
    border: none;
}

.post-image {
    border-radius: 0;
}

.post-feed-header {
    position: relative;
    background-color: white;
    color: rgba(0, 0, 0, 0.54);
    font-weight: bolder;
}

.post-date {
    color: rgb(189, 188, 188);
    margin-top: 3px;
    float: right;
    font-size: 12px;
}

.personal-components {
    display: inline;
}

@media (max-width: 414px) {
    .dashboard {
        margin-top: 75px;
        margin-bottom: 75px;
    }
}

@media (max-width: 576px) {
    .dashboard {
        margin-top: 75px;
        margin-bottom: 75px;
    }
}

