body {
    background-color: #f8f8ff
}

@import  './auth.css';
@import './profile.css';
@import './search.css';
@import './dashboard.css';
@import './pet.css';
@import './post.css';
@import './nav.css';