.nav-look {
    background-color: #365874;  
}

.log-out-bttn {
    margin-left: auto;
    margin-right: 1em;
}

.logo {
    padding: 1em;
}

.logo-styled {
    color: white;
}
.logo-styled:hover {
    color: white;
}

.link-styled {
    color: white;
}

.link-styled:hover {
    color: #243C4A;
}


.spacing {
   padding: 10px 20px 10px 20px;
   display: inline;
   position: relative;
   left: 40%;
}

.log-button {
    padding: 10px 20px 10px 20px;
    word-spacing: 3px;
    border: 2px solid white;
    border-radius: 5px;
    background-color: #365874;
}

.log-button:hover {
    background-color: #243C4A;
    border: 2px solid #243C4A;
}