.nav-look {
    background-color: #365874;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.log-out-bttn {
    margin-left: auto;
    margin-right: 1em;
}

.logo {
    padding: 1em;
}

.logo-styled {
    font-size: 20px;
    color: white;
}

.logo-styled:hover {
    color: white;
}

.link-styled {
    color: white;
}

.link-styled:hover {
    color: rgb(212, 211, 211);
}

.spacing {
   padding: 10px 20px 10px 20px;
   display: inline;
   position: relative;
   left: 36%;

}

.log-button {
    padding: 10px 20px 10px 20px;
    word-spacing: 3px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: #365874;
}

.log-button:hover {
    color: rgb(212, 211, 211);
    background-color: #2e4c64;
    border: 1px solid rgb(212, 211, 211);
}