.post-card-deck {
  display: flex;
  flex-wrap: wrap;
}

.post-card {
    min-width: 253px;
    max-width: 338px;
    max-height: 368px;
    border: none;
}

.post-card-image {
    min-height: 253px;
    max-height: 253px;
    background-size: initial;
    object-fit: cover;
}

.post-body {
  background-color: white;

}

.post-text {
  display: flex;
  color: rgba(0, 0, 0, 0.54);
}

.post-profile-username {
  font-weight: bold;
  margin-right: 5px;
}

.delete-btn {
  margin-left: 210px !important;
}

.exit-btn-post-edit {
  margin-left: 330px !important;
}

.edit-post-modal {
  color: rgba(0, 0, 0, 0.54);
}

.exit-btn-post {
  margin-left: 300px !important;
}

@media (max-width: 414px) {
  .MuiIconButton-root {
    padding: 0px !important;
  }
  .delete-btn {
    margin-left: 270px !important;
  }

  .post-card {
    min-width: 353px;
  }
}

@media (max-width: 375px) {
  .post-card {
    min-width: 315px;
  }

  .delete-btn {
    margin-left: 230px !important;
  }
}
