.profile-img {
    margin-left: 100px;
    margin-top: 10px;
    margin-bottom: 20px;
    height: 12em;
    width: 12em;
    border-radius: 50%;
    background-size: initial;
    object-fit: cover;
}

.primary-btn{
    color: gray;
    background-color: white;
    border: 2px gray solid
}

.edit-profile-btn{
    margin-left: 10px;
}

.profile-username {
    font-size: 30px;
}

.post-pet-data {
    display: flex;
    font-size: 18px;
}

.pet-data {
    margin-left: 50px;
}