.profile {
    margin-top: 100px;
}

.profile-info {
    min-height: 230px;
    background-color: #f8f8ff;
    border: none;
    border-bottom: 2px solid rgba(116, 116, 116, 0.54);
    border-radius: 0;
}

.profile-img {
    margin-left: 100px;  
    margin-bottom: 20px;
    height: 12em;
    width: 12em;
    border-radius: 50%;
    background-size: initial;
    object-fit: cover;
}

.profile-body {
    margin-left: 20px;
}

.primary-btn{
    color: rgb(0, 0, 0, 0.54);
    background-color: #f8f8ff;
    border: 1px solid rgb(0, 0, 0, 0.54);
}
.primary-btn:hover{
    background-color: rgb(189, 188, 188);
    border: 1px solid #f8f8ff;
}

.edit-profile-btn{
    margin-left: 20px;
}

.profile-username {
    color: rgb(0, 0, 0, 0.54);
    font-size: 30px;
}

.profile-bio {
    color: rgba(0, 0, 0, 0.54);
}

.profile-contact {
    margin-left: 20px;
    text-decoration: underline;
}

.profile-contact:hover{
    color: rgb(27, 27, 27);
}

.post-pet-data {
    display: flex;
    color: rgba(0, 0, 0, 0.54);
    font-size: 18px;
}

.post-number {
    font-weight: bold;
    margin-right: 4px;
}

.pet-data {
    margin-left: 50px;
}

.adoption-recruiter-label {
    text-align: center;
    font-size: 12px;
    font-weight: bolder;
    color: white;
    background-color: #365874;
    padding: 4px;
    border: 1px solid #365874;
    border-radius: .25rem;
    width: 115px; 
    margin-left: 20px;
}