.search{
    margin-top: 100px;
}

.search-img {
    margin-left: 10px;
    margin-top: 10px;
    height: 5em;
    width: 5em;
    border-radius: 50%;
    background-size: initial;
    object-fit: cover;
}