.search-card {
    color: rgb(0, 0, 0, 0.54);
    background-color: white;
    border-radius: 0;
    min-height: 88px;
}

.search-username {
    font-weight: bolder;
}

.search-img {
    margin-left: 30px;
    margin-top: 10px;
    height: 5em;
    width: 5em;
    border-radius: 50%;
    background-size: initial;
    object-fit: cover;
    padding: 0;
}

.adoption-recruiter-search {
    text-align: center;
    font-size: 12px;
    font-weight: bolder;
    color: white;
    background-color: #365874;
    padding: 4px;
    border: 1px solid #365874;
    border-radius: .25rem;
    width: 120px;
}

.search-form {
    color: rgb(0, 0, 0, 0.54);
    background-color: #f8f8ff !important;
    border: none;
    border-bottom: 2px solid rgba(116, 116, 116, 0.54);
    border-radius: 0;
}

.search-box {
    height: 250px;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
}

.search-container {
    background-image: url(./assets/PetPalsPictureWall.jpg);
    background-size: cover;
    z-index: -4;
    height: 700px;
}

@media (max-width: 576px) {
    .search {
        margin-top: 75px;
        margin-bottom: 75px;
        padding-left: 3px;
    }

    .search-container {
        background-image: url(./assets/Mobile-Collage.jpg);
    }

    .search-box {
        width: 337px;
    }

    .search-form{
        width: 337px;
    }

    .mobile-search-info{
        max-width: 150px;
        padding: 0 !important;
    }

    .mobile-search-img{
        max-width: 60px;
    }

    .mobile-search-body {
        max-width: 230px;
        text-align: center;
    }

    .search-img {
        margin-left: 0;
        margin-top: 0;
        height: 4em;
        width: 4em;
    }

    .search-user-body {
        max-width: 100px;
        padding: 0 !important;
    }

    .adoption-recruiter-search {
       
    }

    .search-card {
        min-width:  337p
    }
}